* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    padding-top: 30px;
}

html {
    background-color:rgb(76, 35, 92);
}

#container {
    color:rgb(226, 202, 251);
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color:rgb(57, 12, 74);
    border-radius: 20px;
    width: 250px;
    margin: 10px;
    padding: 18px;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 8px rgb(226, 202, 251);
}

.card:hover {
    transform: translateY(-2px);
    cursor: pointer;
    box-shadow: 0px 6px 16px rgb(226, 202, 251);
}