{% extends 'base.html' %}
{% block conteudo %}

<h2>Login</h2>
<form action="/login" method="post">
    <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" name="email" required>
    </div>

    <div class="mb-3">
        <label>Senha</label>
        <input type="password" class="form-control" name="senha" required>
    </div>

    <button class="btn btn-primary">Entrar</button>
    <a href="/cadastro" class="btn btn-success">Cadastrar</a>
</form>
{% endblock %}