.menu {
    width: 200px;
}

.menu ul {
    margin: 16px 0;
    padding: 0;
    background-color: #ccc;
}

.menu li a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: black;
}

.menu li.active {
    background-color: black;
}