{% extends 'base.html' %}
{% block conteudo %}

<h2>Novo Usuário</h2>
<form action="/cadastrar" method="post">

    <div class="mb-3">
        <label>Nome</label>
        <input type="text" name="nome" class="form-control" value="{{ nome or '' }}" required>
    </div>

    <div class="mb-3">
        <label>Email</label> 
        <input type="email" name="email" class="form-control" value="{{ email or '' }}" required>
    </div>

    <div class="mb-3">
        <label>Senha</label>
        <input type="password" name="senha" class="form-control" required>
    </div>

    <button class="btn btn-success">Salvar</button>
    <a href="/" class="btn btn-secondary">Voltar</a>
</form>

{% endblock %}