{% extends 'base.html' %}
{% block conteudo %}

<h2>Redefinir Senha</h2>

<form method="post">

    <div class="mb-3">
        <label>Nova Senha</label>
        <input
            type="password"
            name="nova_senha"
            class="form-control"
            required>
    </div>

    <div class="mb-3">
        <label>Confirmar Nova Senha</label>
        <input
            type="password"
            name="confirmar_senha"
            class="form-control"
            required>
    </div>

    <button class="btn btn-primary">
        Salvar Nova Senha
    </button>

</form>

{% endblock %}