body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #ff7f;
    padding: 10px 0;
}

.menu a {
    color: rgb(42, 42, 3);
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: rgb(255, 255, 59);
}